Combine K-mer counts for multiple K.
Yeah, our program should generate these.

In [6]:
import pandas as pd
df2 = pd.read_csv ('ncRNA.2mer.features.csv')
df3 = pd.read_csv ('ncRNA.3mer.features.csv')

In [7]:
df2

,seqnum,seqlen,AA,AC,AG,AT,CA,CC,CG,CT,GA,GC,GG,GT,TA,TC,TG,TT
0,1,535,39,21,38,30,31,48,11,44,31,30,26,28,27,36,40,54
1,2,590,37,21,47,27,43,55,9,51,35,42,55,26,18,40,46,37
2,3,629,61,30,53,41,48,41,5,45,48,30,31,32,28,38,51,46
3,4,1319,109,68,127,77,110,75,16,82,106,79,100,58,57,61,100,93
4,5,323,16,21,26,12,28,23,4,21,24,23,31,19,7,9,37,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17706,17707,1346,110,87,93,107,102,71,11,96,108,47,65,79,78,75,129,87
17707,17708,344,39,20,30,27,36,18,0,19,25,15,18,14,16,20,23,23
17708,17709,795,22,51,60,38,90,73,15,66,48,68,80,28,11,51,70,23
17709,17710,776,48,35,62,43,55,51,5,68,56,44,49,43,29,50,76,61
17710,17711,723,61,35,72,45,76,59,4,53,53,56,31,21,23,42,54,37

In [8]:
df3

,seqnum,seqlen,AAA,AAC,AAG,AAT,ACA,ACC,ACG,ACT,...,TCG,TCT,TGA,TGC,TGG,TGT,TTA,TTC,TTG,TTT
0,1,535,12,10,10,7,7,6,1,7,...,3,11,6,13,11,10,13,6,15,20
1,2,590,12,3,15,6,6,10,1,4,...,2,12,9,13,15,9,5,12,8,12
2,3,629,23,6,20,12,10,10,0,10,...,2,9,14,11,14,12,7,6,9,23
3,4,1319,41,15,29,23,28,18,2,20,...,5,18,28,19,32,21,26,13,27,27
4,5,323,4,4,6,2,8,4,2,7,...,1,2,12,9,11,4,3,3,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17706,17707,1346,32,22,26,30,41,21,6,19,...,2,33,51,18,25,35,15,18,24,30
17707,17708,344,10,7,13,9,14,3,0,3,...,0,5,6,6,7,4,3,7,4,8
17708,17709,795,0,4,10,8,22,17,4,8,...,3,15,9,16,34,11,1,12,8,2
17709,17710,776,11,6,20,11,11,10,2,12,...,1,19,24,17,17,18,6,21,13,21
17710,17711,723,20,10,22,9,11,10,0,14,...,2,10,20,19,9,6,8,9,10,10

In [9]:
dfm=df3.drop(columns=['seqnum','seqlen'])

In [11]:
dfc=pd.concat([df2,dfm],axis='columns')

In [12]:
dfc

,seqnum,seqlen,AA,AC,AG,AT,CA,CC,CG,CT,...,TCG,TCT,TGA,TGC,TGG,TGT,TTA,TTC,TTG,TTT
0,1,535,39,21,38,30,31,48,11,44,...,3,11,6,13,11,10,13,6,15,20
1,2,590,37,21,47,27,43,55,9,51,...,2,12,9,13,15,9,5,12,8,12
2,3,629,61,30,53,41,48,41,5,45,...,2,9,14,11,14,12,7,6,9,23
3,4,1319,109,68,127,77,110,75,16,82,...,5,18,28,19,32,21,26,13,27,27
4,5,323,16,21,26,12,28,23,4,21,...,1,2,12,9,11,4,3,3,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17706,17707,1346,110,87,93,107,102,71,11,96,...,2,33,51,18,25,35,15,18,24,30
17707,17708,344,39,20,30,27,36,18,0,19,...,0,5,6,6,7,4,3,7,4,8
17708,17709,795,22,51,60,38,90,73,15,66,...,3,15,9,16,34,11,1,12,8,2
17709,17710,776,48,35,62,43,55,51,5,68,...,1,19,24,17,17,18,6,21,13,21
17710,17711,723,61,35,72,45,76,59,4,53,...,2,10,20,19,9,6,8,9,10,10

In [13]:
dfc.to_csv('ncRNA.2-3.features.csv')

In [15]:
df2 = pd.read_csv ('pcRNA.2mer.features.csv')
df3 = pd.read_csv ('pcRNA.3mer.features.csv')
dfm=df3.drop(columns=['seqnum','seqlen'])
dfc=pd.concat([df2,dfm],axis='columns')
dfc.to_csv('pcRNA.2-3.features.csv')